section {
    margin: 0 1.5em;
    float: left;
    width: calc(100% - 3em); // - 2x padding
}


// Überschriften
h2 {
    float: left;
    width: 100%;
    color: $white;
    margin: .5em 0;

    @media (min-width: $bp-sm) {
        margin: 1em 0;
    }
}

h3 {
    font-size: 1.6em;
}


// Trennstriche
.seperator {
    float: left;
    width: 100%;
    border-bottom: 1px solid $white;
    padding: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    float: left;
    width: 100%;
    color: $white;
}


a.link {
    color: $white;
    font-size: 1.2em;
}

a.button {
    width: 100%;
    background: $white;
    color: $black;
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    padding: .5em 0;

    &:hover {
        opacity: .7;
    }
}
