#partner {

    .partner-content {
        float: left;
        width: calc(100% - 20px);
        background: $white;
        padding: 10px;
        margin-bottom: 2em;
    }


    @media (min-width: $bp-xs) {
        .partner-content {

            .partner-element {
                position: relative;
                height: 350px;

                img {
                    margin: auto;
                    max-height: 80%;
                    max-width: 80%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}